@model Dulcefina.Models.DetallePedido

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulcefina</title>
    <!--<link href="css/esti.css" rel="stylesheet" type="text/css">-->
    <link href="~/css/esti.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div id="Principal1">
        <div id="Cabecera">
            <div id="nompag">
                <a href="http://www.google.com" target="_blank"><img class="facebook" src="~/imagenes/facebook.png"></a>
                <a href="http://www.google.com" target="_blank"><img class="insta" src="~/imagenes/insta.png"></a>
                <a id="dulce" href="QuienesSomos.html">DULCEFINA</a>
                <a asp-controller="Principal" asp-action="log" target="_blank"><i>Registrarse/Iniciar sesión</i></a>

                <a href="http://www.google.com" target="_blank"><img class="carrito" src="~/imagenes/carrito.png" title="fm" alt="logo"></a>
            </div>
            <div id="menuu">
                <nav class="navegacion">
                    <ul class="menu">
                        <li><a href="#" target="_blank">HOME</a></li>   <!--para que se abra el link en otra pagina-->
                        <li><a href="#" target="_blank">NOSOTROS</a></li>
                        <li><a href="#" target="_blank">TIENDA</a></li>
                        <li><a href="#" target="_blank">NOVIAS</a></li>
                        <li><a href="#" target="_blank">DULCEFINA FACTORY</a></li>
                        <li><a href="#" target="_blank">ENCUÉNTRANOS</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <form asp-controller="Carrito" asp-action="agregarCarrito" method="post">
            <div id="opcTortas">
                <div class="container">

                    <img src="~/imagenes/@ViewData["foto"]" class="d-block w-100" alt="...">
                    <input type="hidden" value="@ViewData["idTorta"]" name="idTorta" />

                </div>
            </div>
            <div id="desc">
                <h5>Teal Antoinette</h5>
                <p class="mb-2 text-muted text-uppercase small">Categoria</p>

                <p><span class="mr-1"><strong>Desde @ViewData["precio"]</strong></span></p>
                <p class="pt-1">
                    @ViewData["porcion"]
                    La torta es elaborada con buttercream (crema de mantequilla)
                </p>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Sabor</strong></th>
                                <td>@ViewData["sabor"]</td>
                            </tr>
                            <tr>
                                <th class="pl-0 w-25" scope="row"><strong>Relleno</strong></th>
                                <td>@ViewData["relleno"]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                Toppings: <select class="mdb-select md-form" asp-items='@(new SelectList(ViewBag.topping,"IdTop", "Nombre"))' name="topping">
                    <option value="" disabled selected>Escoge tu preferido</option>

                </select>


                <div class="table-responsive mb-2">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td class="pl-0 pb-0 w-25">Cantidad</td>
                            </tr>
                            <tr>
                                <td class="pl-0">
                                    <div class="def-number-input number-input safari_only mb-0">
                                        <input asp-for="Cantidad" class="quantity" min="0" name="quantity" value="1" type="number">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-light btn-md mr-1 mb-2">
                    <i class="fas fa-shopping-cart pr-2"></i>Añadir
                </button>

                <input type="hidden" asp-for="IdTorta" value="@ViewData["idTorta"]" class="form-control" />
                <input type="hidden" asp-for="IdTop" value="@(new SelectList(ViewBag.topping,"IdTop", "Nombre"))" class="form-control" />
                <input type="hidden" asp-for="IdPedido" value="" class="form-control" />
                <input type="hidden" asp-for="Mensaje" value="" class="form-control" />            
                <input type="hidden" asp-for="Precio" value="@ViewData["precio"]" class="form-control" />
                <button type="submit" value="Añadir" name="Añadir">Añadir</button>

        </form>

    </div>
        <div class="clear">
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>  <!--para usar bootstrap el carrusel-->

        <div id="tortas">
            <div id="columna1">
                <br><br>
                <h3 class="opc"><a href="Inicio.html" target="_blank">CELEBRACIONES</a></h3>
            </div>
            <div id="columna2">
                <br><br>
                <h3 class="opc"><a href="Inicio.html" target="_blank">MESA DE DULCES</a></h3>
            </div>
            <div id="columna3">
                <br><br>
                <h3 class="opc"><a href="Inicio.html" target="_blank">CUMPLEAÑOS</a></h3>
            </div>
            <div id="columna4">
                <br><br>
                <h3 class="opc"><a href="Inicio.html" target="_blank">TORTA DEL MES</a></h3>
            </div>
            <div class="clear">
                <!--esto es para hacer q las columnas se metan dentro del contenedor principal, por que el float los habia sacado-->
            </div>
        </div>

        <div id="piepag">
            <img src="~/imagenes/dulcefina.jpg" title="fm" alt="piepagina">
            <div id="colum1">
                <a href="Inicio.html">Inscríbete a nuestros Newsletters</a><br>
                <br><br><br><br><br><br><br> © 2020 Dulcefina. Todos los Derechos Reservados.
            </div>
            <div id="colum2">
                <a href="Inicio.html">Términos y Condiciones</a><br>
            </div>

            <div id="colum3">
                <a href="Inicio.html">Servicio al Cliente</a><br>
            </div>
            <div id="colum4">
                <a href="Inicio.html">Libro de Reclamaciones</a><br>
            </div>

            <div class="clear">
            </div>
            <br><br><br><br>
            <hr>
            <br><br><br>
        </div>
    </div>
</body>
</html>